body {
  background: #000000;
}

.c-logo {
  display: block;
  fill: #ffffff;
  width: 60vw;
}

.c-page {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100%;
}
